@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(245, 245, 245);
  overflow-x: hidden;
}
.container {
  margin: 80px auto 0 auto;
  max-width: 1200px;
}
.nav-container {
  margin: auto;
  color: white;
}
a {
  text-decoration: none;
}
.nav-container svg {
  color: #ffffff;
}
